@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@import "tailwindcss";
/* সাধারণ লাইট থিম */
body {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

/* অন্ধকার থিম */
body.dark-theme {
  background-color: #222;
  color: #eee;
}





