
 @import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom colors */
:root {
  --color-primary: #0bdbb6;
  --color-primary-dark: #0d0d0d;
}

/* Light mode body */
body {
  @apply bg-white text-black;
}

/* Dark mode */
.dark body {
  @apply bg-black text-white;
}

